<section class="content-main">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <h2 class="content-title">Edit Product</h2>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">

      <!-- form -->
            <form action="/admin/edit-product/<%= product._id %>" method="post" enctype="multipart/form-data" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>1. General info</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Product title</label>
                                <input type="text" value="<%= product.title %>" name="title" class="form-control">
                                <input name="id"  value="<%= product._id %>"  style="display: none;">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea  class="form-control"  name="description" placeholder="<%= product.description %>" rows="4" value="<%= product.description %>"></textarea>
                            </div>
                            <!-- <div class="mb-4">
                                <label class="form-label">Brand name</label>
                                <select class="form-select">
                                    <option> Adidas </option>
                                    <option> Nike </option>
                                    <option> Puma </option>
                                </select>
                            </div> -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr class="mb-4 mt-0">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>2. Pricing</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Cost in INR</label>
                                <input type="number" value="<%= product.price %>" name="price" class="form-control">
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr class="mb-4 mt-0">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>3. Category</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <% for(var category of categories) {  %>
                                <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                    <input class="form-check-input" checked="" value="<%= category.name %>" name="category" type="radio">
                                    <span class="form-check-label"> <%= category.name %> </span>
                                </label>
                                <% } %>


                            
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <div class="row">
                        <div class="col-md-3">
                            <h6>4.Quantity</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Stock Details</label>
                                <input type="number" value="<%= product.quantity %>" name="quantity" class="form-control">
                            </div>
                        </div> <!-- col.// -->
                    </div>
                    <hr class="mb-4 mt-0">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>5. Media</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Images</label>
                                
                                <div class="d-flex gap-2 mb-3 ">

                                    <img  style="width: 80px; height: 60px;"  id="file-ip-0-preview" src="/product-images/<%= product.productImages[0] %>">
                                    <input class="form-control" type="file"   accept="image/*"   onchange="showPreview(event,0);"  name="image0" >

                                </div class="d-flex gap-2 mb-3 ">

                                <div class="d-flex gap-2 mb-3 ">
                                    <img  style="width: 80px; height: 60px;"  id="file-ip-1-preview" src="/product-images/<%= product.productImages[1] %>">
                                    <input class="form-control" type="file"   accept="image/*"  onchange="showPreview(event,1);"  name="image1" >

                                </div>
                                <div class="d-flex gap-2 mb-3 ">
                                    <img  style="width: 80px; height: 60px;"  id="file-ip-2-preview" src="/product-images/<%= product.productImages[2] %>">
                                    <input class="form-control" type="file"   accept="image/*"  onchange="showPreview(event,2);"  name="image2" >

                                </div>
                                <div class="d-flex gap-2 mb-3 ">
                                    <img  style="width: 80px; height: 60px;"  id="file-ip-3-preview" src="/product-images/<%= product.productImages[3] %>">
                                    <input class="form-control" type="file"   accept="image/*"  onchange="showPreview(event,3);"  name="image3" >
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div>
                        <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                        <button type="submit" class="btn btn-md rounded font-xxl hover-up">Edit</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<script defer src="https://cdn.crop.guide/loader/l.js?c=PPRBRY"></script>
<script>
    function showPreview(event,i){
      
      if(event.target.files.length > 0){
          var src = URL.createObjectURL(event.target.files[0]);
          var preview = document.getElementById(`file-ip-${i}-preview`);
          preview.src = src;
          preview.style.display = "block";
  
          }
      }
    
  
  </script>


