
        <main class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner banner-big banner-overlay">
                            <a href="/women">
                                <img src="/assets/images/demos/demo-7/banners/banner-1.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-subtitle text-white"><a href="/women">New Collection</a></h3><!-- End .banner-subtitle -->
                                <h2 class="banner-title text-white"><a href="/women">Shop Women's</a></h2><!-- End .banner-title -->
                                <a href="/women" class="btn underline"><span>Discover Now</span></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-6 -->

                    <div class="col-lg-6">
                        <div class="banner banner-big banner-overlay">
                            <a href="#">
                                <img src="/assets/images/demos/demo-7/banners/banner-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-subtitle text-white"><a href="/men">New Collection</a></h3><!-- End .banner-subtitle -->
                                <h2 class="banner-title text-white"><a href="/men">Shop Men's</a></h2><!-- End .banner-title -->
                                <a href="/men" class="btn underline"><span>Discover Now</span></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
                

                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="banner banner-overlay text-white">
                            <a href="#">
                                <img src="/assets/images/demos/demo-7/banners/banner-3.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-right">
                                <h4 class="banner-subtitle"><a href="#">Flip Flop</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#">Summer<br>sale -70% off</a></h3><!-- End .banner-title -->
                                <a href="#" class="btn underline btn-outline-white-3 banner-link">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->

                    <div class="col-md-6 col-lg-4">
                        <div class="banner banner-overlay color-grey">
                            <a href="#">
                                <img src="/assets/images/demos/demo-7/banners/banner-4.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle"><a href="#">Accessories</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#">2019 Winter<br>up to 50% off</a></h3><!-- End .banner-title -->
                                <a href="#" class="btn underline banner-link">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->

                    <div class="col-md-6 col-lg-4">
                        <div class="banner banner-overlay text-white">
                            <a href="#">
                                <img src="/assets/images/demos/demo-7/banners/banner-5.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-right mr">
                                <h4 class="banner-subtitle"><a href="#">New in</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#">Women’s<br>sportswear</a></h3><!-- End .banner-title -->
                                <a href="#" class="btn underline btn-outline-white-3 banner-link">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container-fluid -->

            <div class="icon-boxes-container bg-transparent">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-12 icon-boxes"">
                            <div class="col-sm-6 col-lg-4">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-truck"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                        <p>Free shipping for orders over $50</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-4 -->
                            
                            <div class="col-sm-6 col-lg-4">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rotate-left"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                        <p>Free 100% money back guarantee</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-4 -->

                            <div class="col-sm-6 col-lg-4">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-headphones"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                        <p>Alway online feedback 24/7</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-4 -->
                        </div>
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .icon-boxes-container -->

            <div class="bg-light-2 pt-6 pb-6 featured">
                <div class="container-fluid">
                    <div class="heading heading-center mb-3">
                        <h2 class="title">FEATURED PRODUCTS</h2><!-- End .title -->

                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="featured-women-link" data-toggle="tab" href="#featured-women-tab" role="tab" aria-controls="featured-women-tab" aria-selected="true">Womens Clothing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="featured-men-link" data-toggle="tab" href="#featured-men-tab" role="tab" aria-controls="featured-men-tab" aria-selected="false">Mens Clothing</a>
                            </li>
                        </ul>
                    </div><!-- End .heading -->

                    <div class="tab-content tab-content-carousel">
                        <div class="tab-pane p-0 fade show active" id="featured-women-tab" role="tabpanel" aria-labelledby="featured-women-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'>

                                <% for (var product of womenProducts) { %>
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <a href="/product/<%= product._id %>">
                                            <img src="/product-images/<%= product.productImages[0] %>" alt="Product image" class="product-image">
                                            <img src="/product-images/<%= product.productImages[1] %>" alt="Product image" class="product-image-hover">
                                        </a>

                                        <div class="product-action-vertical">
                                            <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <% if(locals.user) { %>
                                            <button onclick="addToCart('<%= product._id %>')" class="btn-product btn-cart" ><span>add to cart</span></button>
                                            <% } else { %>
                                            <a href="/login" class="btn-product btn-cart"><span>add to cart</span></a>
                                            <% } %>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="/product/<%= product._id %>"><%= product.title %></a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            Rs.<%= product.price %>
                                        </div><!-- End .product-price -->
                                        <!-- <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div>
                                            </div>
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div> -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                                <% } %>

                                
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane p-0 fade" id="featured-men-tab" role="tabpanel" aria-labelledby="featured-men-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'>
                                <% for (var product of menProducts) { %>
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <a href="/product/<%= product._id %>">
                                            <img src="/product-images/<%= product.productImages[0] %>" alt="Product image" class="product-image">
                                            <img src="/product-images/<%= product.productImages[1] %>" alt="Product image" class="product-image-hover">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <% if(locals.user) { %>
                                            <button onclick="addToCart('<%= product._id %>')" class="btn-product btn-cart" >add to cart</button>
                                            <% } else { %>
                                            <a href="/login" class="btn-product btn-cart"><span>add to cart</span></a>
                                            <% } %>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="/product/<%= product._id %>"><%= product.title %></a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                           Rs.<%= product.price %>
                                        </div><!-- End .product-price -->
                                        <!-- <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div>
                                            </div>
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div> -->

                                        <!-- <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #d79442;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #cc3333;"><span class="sr-only">Color name</span></a>
                                        </div> -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <% } %>
                                
                                
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .container-fluid -->
            </div><!-- End .bg-light-2 pt-4 pb-4 -->

            <div class="mb-6"></div><!-- End .mb-6 -->

           

            <div class="bg-light-2 pt-7 pb-6 testimonials">
                <div class="container">
                    <h2 class="title text-center mb-2">Our Customers Say</h2><!-- End .title text-center -->
                    <div class="owl-carousel owl-simple owl-testimonials" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "1200": {
                                    "nav": true
                                }
                            }
                        }'>
                        <blockquote class="testimonial testimonial-icon text-center">
                            <p class="lead">“Really great store”</p><!-- End .lead -->
                            <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra<br>a, ultricies in, diam. Sed arcu. ”</p>

                            <cite>
                                Charly Smith,
                                <span>Customer</span>
                            </cite>
                        </blockquote><!-- End .testimonial -->

                        <blockquote class="testimonial testimonial-icon text-center">
                            <p class="lead">“Friendly Support”</p><!-- End .lead -->
                            <p>“ Impedit, ratione sequi, sunt incidunt magnam et. Delectus obcaecati optio eius error libero perferendis nesciunt atque dolores magni recusandae! Doloremque quidem error eum quis similique doloribus natus qui ut ipsum.”</p>

                            <cite>
                                Damon Stone
                                <span>Customer</span>
                            </cite>
                        </blockquote><!-- End .testimonial -->

                        <blockquote class="testimonial testimonial-icon text-center">
                            <p class="lead">“Free Shipping”</p><!-- End .lead -->
                            <p>“ Molestias animi illo natus ut quod neque ad accusamus praesentium fuga! Dolores odio alias sapiente odit delectus quasi, explicabo a, modi voluptatibus. Perferendis perspiciatis, voluptate, distinctio earum veritatis animi tempora eget blandit nunc tortor mollis ”</p>

                            <cite>
                                John Smith
                                <span>Customer</span>
                            </cite>
                        </blockquote><!-- End .testimonial -->
                    </div><!-- End .testimonials-slider owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .bg-light pt-5 pb-5 -->

            
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

   


<!-- molla/index-7.html  22 Nov 2019 09:56:58 GMT -->

