<main class="main ">
    <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/products">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content px-5">
        <div class="checkout">
            <div class="container">
                <!-- checkout-discount -->
                <!-- <div class="d-flex">
                <div class="">
                    
                        
                        <a href=""><label for="checkout-discount-input" class="text-truncate">Add New Address</label></a>
                        <a href=""><label for="checkout-discount-input" class="text-truncate"></label></a>
                   
                </div>

                <div class="">
                    
                        
                    <a href=""><label for="checkout-discount-input" class="text-truncate">Add New Address</label></a>
                    <a href=""><label for="checkout-discount-input" class="text-truncate">lo</label></a>
               
            </div>

        </div> -->
                <form action="/checkout" method="post">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>First Name *</label>
                                    <input type="text" class="form-control" value="<%= locals.address.fname %>"
                                        name="fname" required>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6">
                                    <label>Last Name *</label>
                                    <input type="text" class="form-control" name="lname"
                                        value="<%= locals.address.lname %>" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label>Company Name (Optional)</label>
                            <input type="text" class="form-control" name="company"
                                value="<%= locals.address.company %>">

                            <label>Country *</label>
                            <input type="text" class="form-control" name="country" value="<%= locals.address.country %>"
                                required>

                            <label>Street address *</label>
                            <input type="text" class="form-control" name="address"
                                placeholder="House number/name and Street name" value="<%= locals.address.address %>"
                                required>

                            <label>District *</label>
                            <input type="text" class="form-control" name="district"
                                value="<%= locals.address.district %>" required>


                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Town / City *</label>
                                    <input type="text" class="form-control" value="<%= locals.address.town %>"
                                        name="town" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>State *</label>
                                    <input type="text" class="form-control" name="state"
                                        value="<%= locals.address.state %>" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Postcode / ZIP *</label>
                                    <input type="text" class="form-control" name="pincode"
                                        value="<%= locals.address.pincode %>" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Phone *</label>
                                    <input type="tel" class="form-control" name="mobile"
                                        value="<%= locals.address.mobile %>" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label>Email address *</label>
                            <input type="email" class="form-control" name="email" value="<%= locals.address.email %>"
                                required>

                            <!-- <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                                    <label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
                                </div> -->

                            <!-- <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                    <label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
                                </div> -->

                            <label>Order notes (optional)</label>
                            <textarea class="form-control" cols="30" rows="4" name="order-notes"
                                placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3 d-flex">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% for (var productDetails of cartItems) { %>
                                            <tr>
                                                <td><a href="#">
                                                        <%= productDetails.product.title %>
                                                    </a></td>
                                                <td>
                                                    <%= productDetails.total %>
                                                </td>
                                            </tr>
                                            <% } %>

                                                <tr class="summary-shipping-estimate">
                                                    <td> <a href="/new-address"><b>Add new address</b></a></td>
                                                    <td>&nbsp;</td>
                                                </tr>

                                                <tr class="summary-shipping-estimate">
                                                    <td> <a href="/change-address"><b>Change Address</b></a></td>
                                                    <td>&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td>Shipping:</td>
                                                    <td>Free shipping</td>
                                                </tr>

                                                <tr>
                                                    <td> <input type="text" id="coupon-code" name="code" class="h-50"
                                                            placeholder="Coupon code"> </td>
                                                    <td> <input type="button" id="btn" class="text-white h-50 border-0"
                                                            style=" background-color: #da0b38;" value="Apply Coupon"
                                                            onclick="applyCoupon('<%= cartItems.cartPrice %>')"></td>
                                                    <input type="text" class="d-none" id="discount" name="discount">


                                                </tr>
                                                <td class="h-50 text-left">
                                                    <span class="text-danger" id="coupon-error"></span>
                                                    <span class="text-success" id="coupon-success"></span>
                                                </td>
                                                <tr class="summary-total">
                                                    <td>Total:</td>
                                                    <td><span id="oldTotal">
                                                            <%= cartItems.cartPrice %>
                                                        </span></td>

                                                </tr><!-- End .summary-total -->
                                                <tr id="newTotal-row" class="summary-total d-none ">
                                                    <td>New Total:</td>
                                                    <td><span id="newTotal">0000</span></td>
                                                </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->





                                <div class="accordion-summary" id="accordion-payment">
                                    <!-- <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                    Direct bank transfer
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- <div class="card">
                                        <div class="card-header" id="heading-2">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                                    Check payments
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="card pb-1">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                                <input class="form-check-input" id="cod" checked="" value="COD"
                                                    name="payment-method" type="radio">

                                                <span class="form-check-label ml-2"> Cash on delivery </span>

                                            </h2>
                                        </div>
                                        <!-- <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
                                            </div>
                                        </div> -->
                                    </div>

                                    <div class="card pb-2">
                                        <div class="card-header" id="heading-4">
                                            <h2 class="card-title">
                                                <input class="form-check-input " value="paypal" id="paypal-inputRadio"
                                                    name="payment-method" type="radio">

                                                <span class="form-check-label ml-2 "> PayPal</span>


                                        </div>

                                        <div class="card pt-1">
                                            <div class="card-header" id="heading-4">
                                                <h2 class="card-title">
                                                    <input class="form-check-input " value="razorpay" id="razorpay-inputRadio"
                                                        name="payment-method" type="radio">
    
                                                    <span class="form-check-label ml-2 "> Razorpay</span>
    
    
                                            </div>

                                        <!-- <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                     <small class="float-right paypal-link">What is PayPal?</small>
                                                </a> -->
                                        </h2>
                                    </div><!-- End .card-header -->

                                    <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                        data-parent="#accordion-payment">
                                        <div class="card-body">
                                            Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                            suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                                        </div><!-- End .card-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->

                                <!-- <div class="card">
                                        <div class="card-header" id="heading-5">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                    Credit Card (Stripe)
                                                    <img src="assets/images/payments-summary.png" alt="payments cards">
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                            <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <button id="place-order" type="submit"
                                    class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Continue</span>
                                    <span class="btn-hover-text">Place Order</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
    //     $('#paypal-inputRadio').click(function() {
    //   $('#paypal-div').addClass('d-block')
    //   $('#place-order').addClass('d-none')
    // });

    // $('#cod').click(function() {
    //   $('#paypal-div').removeClass('d-block')
    //   $('#place-order').removeClass('d-none')
    // });

    function applyCoupon(totalAmount) {
        const couponCode = document.getElementById('coupon-code').value

        $.ajax({
            url: '/applyCoupon',
            method: 'post',
            data: {
                'code': couponCode,
                'total': totalAmount
            },
            success: (response) => {
                if (response.status) {
                    document.getElementById('newTotal').innerHTML = parseInt(totalAmount) - parseInt(response.discount)
                    $('#oldTotal').addClass('text-decoration-line-through')
                    $('#newTotal-row').removeClass('d-none')
                    $('#oldTotal').css('text-decoration', 'Line-Through')
                    $('#discount').val(`${response.discount}`)
                    document.getElementById('coupon-error').innerHTML = ''
                    document.getElementById('coupon-success').innerHTML = `You Saved ${response.discount}`

                } else {
                    document.getElementById('coupon-error').innerHTML = response.errorMsg
                    document.getElementById('coupon-success').innerHTML = ''
                }
            }
        })
    }







</script>