<main class="main  ">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/products">shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content px-4">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <% if(locals.errorMsg){ %>

                                <a class="nav-link" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="false">Profile</a>
                                <% } else{ %>
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Profile</a>
                                <% }  %>
                                
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link"  href="/my-orders"   aria-selected="false">Orders</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-lg-6">
                        <div class="tab-content">
                            <% if (locals.errorMsg) { %>
                            <div class="tab-pane fade  " id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                            <% } else { %>
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                               
                            <% } %>

                                <section style="background-color: #eee;">
                                    
                                  
                                      <div class="row">
                                       
                                        <div class="col-lg-12">
                                          <div class="card ">
                                            <div class="card-body">
                                              <div class="row">
                                                <div class="col-sm-3">
                                                  <p class="mb-0">Full Name</p>
                                                </div>
                                                <div class="col-sm-9">
                                                  <p class="text-muted mb-0"><%=user.name%></p>
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-3">
                                                  <p class="mb-0">Email</p>
                                                </div>
                                                <div class="col-sm-9">
                                                  <p class="text-muted mb-0"><%=user.email%></p>
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-3">
                                                  <p class="mb-0">Phone</p>
                                                </div>
                                                <div class="col-sm-9">
                                                  <p class="text-muted mb-0"></p>
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-3">
                                                  <p class="mb-0">Mobile</p>
                                                </div>
                                                <div class="col-sm-9">
                                                  <p class="text-muted mb-0"><%=user.mobile%></p>
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-3">
                                                  <p class="mb-0">Address</p>
                                                </div>
                                                <div class="col-sm-9">
                                                  <p class="text-muted mb-0"><%= address.address %></p>
                                                </div>
                                              </div>
                                              <hr>
                                              <div>
                                                <% if(locals.errorMsg){ %>
                                                <a class="nav-link active" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="true"><button class="btn btn-primary"> Edit Profile</button></a>
                                                    <% } else { %>
                                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false"><button class="btn btn-primary"> Edit Profile</button></a>
                                               
                               


                                                <% } %>
                                            </div>
                                            </div>
                                          </div>
                                         
                                        
                                      </div>
                                    </div>

                                   
                                  </section>
                            </div>

                            <!-- <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                <p>No order has been made yet.</p>
                                <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                            </div> -->

                            <!-- <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                                <p>No downloads available yet.</p>
                                <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                            </div> -->

                            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                <p>The following address will be used on the checkout page by default.</p>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                                                <p><%=address.fname %> <%= address.lname %><br>
                                                    <%= address.address %><br>
                                                    <%= address.town %><br>
                                                    <%= address.district %><br>
                                                    <%= address.state %><br>
                                                    <%= address.pincode %><br>
                                                    <%= address.email %>
                                                <!-- <a href="#">Edit <i class="icon-edit"></i> -->
                                                </a></p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->
                                </div>
                                </div>
                                

                                   

                            <% if(locals.errorMsg){ %>
                                <div class="tab-pane fade show active" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                             <% } else { %>
                                <div class="tab-pane fade " id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">


                                <% } %>

                                <form action="/edit-profile" method="post"> 
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>full Name *</label>
                                            <input type="text" class="form-control" name="name" value="<%= user.name %>"  required>
                                        </div><!-- End .col-sm-6 -->

                                    
                                    </div><!-- End .row -->

                                   
                                    <label>Email address *</label>
                                    <input type="email" class="form-control" name="email" value="<%= user.email %>"   required>

                                    <label>Mobile *</label>
                                    <input type="tel" class="form-control" name="mobile" value="<%= user.mobile %>"  required>

                                    <label>Current password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control" name="old-password" >

                                    <label>New password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control" name="new-password">

                                  

                                    <!-- <label>Confirm new password</label>
                                    <input type="password" class="form-control mb-2"> -->
                                   


                                    <button type="submit" class="btn btn-outline-primary-2">
                                        

                                       
                                        <span>SAVE CHANGES</span>
                                       
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                   
                                            
                                        <span class="text-danger"> <%= locals.errorMsg%> </span>
                                 
                                    
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->



         
              
         
         
    
